# http://stackoverflow.com/questions/2586097/what-should-be-in-gitignore-file-for-a-netbeans-java-project
# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

